.login {
    display: grid;
    place-items: center;
    /* height: 100vh; */
}

h1 {font-family: "Cooper";
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 12vw;
    color: cadetblue;
    text-align: center;
    padding: 4vw;
  }
@font-face {
    font-family: "Cooper";
    src: url('../Fonts/COOPBL.TTF')
}

.login > button {
    /* height: 20%; */
    width: 30%;
    box-shadow: 10px 10px 8px #888888;
    background-image: url('../Assets/wood.jfif');
    color: wheat;
    font-family: "Cooper";
    font-size: 4vw;
    border-radius: 23px;
}
.button:hover {
    transform: scale(2);     /* Equal to scaleX(2) scaleY(2) */
}

.login > button:hover {
    background-color: white;
    color: grey;
}

.login > div {
    display: flex;
    flex-direction: column;
}

/* .carousel__wrapper{
    border-radius: 5px;
	box-shadow: 0 1rem 2rem rgba(purple, .2);
	margin: 2rem auto;
	overflow: hidden;
	width: 400px;
} */


.carousel__container {
	display: flex;
	position: relative;
	overflow: hidden;
    width: 50%;
}

/* .carousel__items {
	position: absolute;
	left: 0;
	opacity: 0;
	top: 0;
	transform: scale(1.1);
	transition: all .15s ease-out;
} */