.login {
    display: grid;
    place-items: center;
    height: 100vh;
}

h1 {
    color: white;
    padding: 140px;
    font-family: Arial;
    text-align: center;
  }
@font-face {
    font-family: "Elephant";
    src: url('../Fonts/Elephant.TTF')
}

.login > button {
    height: 200px;
    width: 300px;
    box-shadow: 10px 10px 8px #888888;
    background-image: url('../Assets/wood.jfif');
    color: wheat;
    font-family: "Elephant";
    font-size: 50px;
    border-radius: 23px;
}
.button:hover {
    transform: scale(2);     /* Equal to scaleX(2) scaleY(2) */
}

.login > button:hover {
    background-color: white;
    color: black;
}

.login > div > img {
    object-fit: contain;
    height: 150px;
    border-radius: 30px;
}

.login > div {
    display: flex;
    flex-direction: column;
}

