.App {
    background-color: #282c34;
    color: white;
    height: 100em;
}

.text-field-email {
    width: 60%;
    border-radius: 23px;
    background-color: grey;
    opacity: 0.33;  
}

.text-field-password {
    width: 60%;
    border-radius: 23px;
    background-color: grey;
    opacity: 0.33;
}

.Container {
    display: inline-flex;
    flex-direction: row;
    
}



