.container {
  background-image: url(./Assets/tartan.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  align-items: center;
  background-position: center;
  display: flex;
}


.app__body {
  display: flex;
} 
